@font-face {
    font-family: 'varela_roundregular';
    src: url('./varelaround-regular-webfont.woff2') format('woff2'),
         url('./varelaround-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
	font-family: 'Anton', Arial, sans-serif;
}
body {
	margin: 0;
	padding: 0;
	background: #ccc;
}

section{
	position: static;
	top: 50px;
}

span.headline {
	position: relative;
	left:10px;
	padding-inline: 5px;
	background: #dadbe2;
	background-color: white;
	text-align: left;
	color: #3f4457;
	border-radius: 0%;
  }
  h2 {
	/* position: relative;
	top: 20px; */
	text-align: left;
	border-bottom:4px groove white;
	line-height: 0.1em;
	font-family:segoe script, purisa;
	/* margin: 10px 0 20px; */
}

#coverContainer{
	position: relative;
	text-align: center;	
}

#cover{
	width: 100%;
	height: 350px;
}
#biglogo{
	display:inline-block;
	margin: 0;
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 80px;
}

.manuPlaceholder{
	height: 70px;
}

#menu{
	z-index : 10000 ;
}

ul{
	display: inline-block;
	/* position: fixed; */
	width: 100%;
	/* top:5px; */
	list-style: none;
	background-color: rgb(55, 56, 63, 0.6);
	text-align: center;
	padding: 0;
	margin: 0;
}

.nav{
	display: inline;
	float: left;
	/* background: rgb(55, 56, 63, 0.2); */
}

a.nav_link{
	display: inline-block;
	line-height: 35px;
	min-width:110px;
	padding: 2px 2px #DADADA;
	color: #ffffff;
	/* background: rgb(55, 56, 63, 0.4); */
	text-align: center;
	text-decoration: none;
	font-family:segoe script, purisa;
	font-size: 14px;
}

a.nav_link:hover{
	padding-top: 0px;
	background: #2091dd;
	color: #000000;
	position: relative;
	box-shadow: 2px 2px 10px #66686e;
    /* top: -4px; */
	/* border-radius: 6%; */
}

.logo{
	transform: scaleY(1.2);
	text-transform: uppercase;
	/* font-family: 'Anton', Arial, sans-serif; */
	font: 900 10vw segoe script, purisa, comic sans ms, cursive;
	font-weight: 500;
	color: #f8eaea;
	text-shadow: 1px 1px 1px #f8d2f1,
		1px 1px 1px #fac4ec,
		1px 1px 1px #ecbbbb,
		1px 1px 1px #ffd1d1,
		1px 1px 1px #c2b8b8,
		1px 1px 1px #a09999,
		1px 1px 1px #777272,
		1px 1px 1px #6e6a6a,
		1px 1px 1px #919191,
		1px 1px 1px #919191,
	1px 18px 6px rgba(58, 56, 56, 0.4),
	1px 22px 10px rgba(16,16,16,0.2),
	1px 8px 10px rgba(16,16,16,0.2),
	1px 9px 20px rgba(16,16,16,0.4);
	
}

#logolink{
	position: relative;
	top: 1px;
	right: 30px;
	display: inline-block;
	line-height: 30px;
	min-width:110px;
	text-align: center;
	float: right;
	font-size: 15px;
	text-decoration: none;
}
#logolink:hover{
	margin-top: 1px;
	background-color: rgba(0, 0, 0, 0.6);
	position: relative;
	box-shadow: 2px 2px 10px #66686e;
}

.sticky {
	position: fixed;
	top:0px;
	width: 100%;
	margin: auto;
	
  }

.textPic{
	display: inline-block;
	width: 60%;
	padding: 10px;
	position: relative;
	left: 20%;
}

#pic1{
	margin: auto;
	position: relative;
	/* left: 80px; */
	box-shadow: 2px 2px 15px ;
	float: left;
}
#pic1:hover{
	border: 1px solid rgba(213, 255, 62, 0.801);
}
#about_txt{
	position: relative;
	/* left: 100px; */
	padding: 10px;
	float: right;
	text-align: right;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


img.pic {
	border-radius: 10px;
	border: 1px solid #ddd;
	padding: 5px;
	width: 250px;
	border-radius: 8px;
}

.pic:hover{
	border-radius: 8px;
	border: 1px solid rgb(147, 192, 250);
	width: 250px;
	border-radius: 8px;
	box-shadow: 2px 2px 15px ;	
}

.pichead{
	text-align: center;
	line-height: 0.1em;	
	font-family:segoe print, purisa;	
}

.vid{
	position: relative;
	/* top: 50px; */
	left: 25px;
	padding: 20px;
}

.quote{
	font-size: 20px;
	color: #262529;
	text-shadow: 1px 1px 1px #2091dd;
	/* text-shadow:
	0 0 2px #cae4e1eb,
	0 0 10px #cae4e157,
	0 0 4px #1e84f285,
	0 0 7px #1e84f2eb,
	0 0 11px #1e84f2c7,
	0 0 16px #1e84f2eb; */
}

#quote1{
	position: relative;
	right: 90px;
	text-align: right;
}

#quote2{
	position: relative;
	right: 60px;
	bottom: 10px;
	text-align: center;
}

.like{
	font-family:segoe print, purisa;
}

#contactContainer{
	position: relative;
	bottom: 20px;
}

.contactheadline{
	text-align: left;
	font-family:segoe print, purisa;
	margin: 0;
}
.contact{
	font-family:segoe script, purisa;
	width: 70%;
	padding: 12px 20px;
	margin-bottom: 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#send{
	font-family:segoe print, purisa;
	font-weight:bold;
	font-size: 16px;
	width: 30%;
	background-color: #2091dd;
	color: rgb(0, 0, 0);
	padding: 14px 20px;
	margin: 10px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	
}
