/* custom fonts for the page */
@font-face {
	src: url(fonts/VarelaRound-Regular.ttf);
    font-family: varela;
}
@font-face{
	src:url(fonts/BadUnicornDemoRegular-BVWx.ttf);
	font-family: BadUnicorn;
}
@font-face{
	src:url(fonts/gadi-almog-regular-aaa.woff2) format('woff2');
	font-family: gadi;
}
@font-face{
	src:url(fonts/GveretLevin-Regular.woff) format('woff');
	font-family: levin;
}
@font-face{
	src:url(fonts/DancingScript-VariableFont_wght.ttf);
	font-family: dancing;
}
@font-face{
	src:url(fonts/Caveat-VariableFont_wght.ttf);
	font-family: caveat;
}

/* general properties for the whole page */
html{
	font-family: 'Anton', Arial, sans-serif;
}
body {
	margin: 0;
	padding: 0;
	background: rgb(226, 226, 226);
}

section{
	position: static;
	top: 50px;
}
/* section's headlines */
span.headline{
	position: relative;
	left:10px;
	padding-inline: 5px;
	background-color: white;
	text-align: left;
	color: #3f4457;
	border-radius: 0%;
	font-family: segoe script,dancing, purisa;
  }
  span.headline_heb{
	position: relative;
	right:10px;
	padding-inline: 5px;
	background-color: white;
	text-align: right;
	color: #3f4457;
	border-radius: 0%;
	font-family:koby;
  }
  h2 {
	text-align: left;
	border-bottom:4px groove white;
	line-height: 0.1em;
}
/* cover photo and logo */
#coverContainer{
	position: relative;
	text-align: center;	
}

#cover{
	width: 100%;
	height: 350px;
}
.logo{
	transform: scaleY(1.2);
	text-transform: uppercase;
	/* font-family: 'Anton', Arial, sans-serif; */
	font-stretch:extra-expanded;
	font: 900 10vw BadUnicorn, purisa;
	font-weight: 800;
	color: rgb(248, 234, 234, 0.4);
	text-shadow: 1px 1px 1px #f8d2f1,
		1px 1px 1px rgb(250, 196, 236, 0.5),
		1px 1px 1px rgb(236, 187, 187,0.5),
		1px 1px 1px rgb(255, 209, 209,0.5),
		1px 1px 1px rgb(194, 184, 184,0.5),
		1px 1px 1px #a09999,
		1px 1px 1px #777272,
		1px 1px 1px #6e6a6a,
		1px 1px 1px #919191,
		1px 1px 1px #919191,
}
#biglogo{
	display:inline-block;
	margin: 0;
	width: 100%;
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 120px;
	font-stretch:ultra-expanded;
}

/* navbar properties */
.manuPlaceholder{
	height: 70px;
}

#menu{
	z-index : 10000 ;
}

ul{
	display: inline-block;
	width: 100%;
	list-style: none;
	background-color: rgb(55, 56, 63, 0.6);
	text-align: center;
	padding: 0;
	margin: 0;
}

.nav{
	display: inline;
	float: left;
	overflow: hidden;
}
.nav:hover{
	box-shadow: 2px 2px 10px #66686e;
}

a.nav_link{
	display: inline-block;
	line-height: 35px;
	min-width:110px;
	padding: 2px 2px #DADADA;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	font-family:segoe script,dancing, purisa;
	font-size: 14px;
}

a.nav_link:hover{
	padding: 0px;
	background: #2091dd;
	color: #000000;
}
	

#logolink{
	position: relative;
	top: 3px;
	right: 30px;
	height: 29px;
	line-height: 35px;
	min-width:110px;
	float: right;
	font-size:23px;
	text-decoration: none;
}
#logolink:hover{
	padding: 0;
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: 2px 2px 10px #66686e;
}

.sticky {
	position: fixed;
	top:0px;
	width: 100%;
	margin: auto;
	
  }

  /* 'about me' properties */
.textPic{
	display: inline-block;
	width: 75%;
	padding: 10px;
	position: relative;
	left: 12.5%;
}

#pic1{
	margin: 0;
	box-shadow: 2px 2px 15px ;
	float: left;
	margin: auto;
	padding: 0;
	
}
#a{
	margin: auto;
	padding: 0;
	border: solid;
}
#about_txt{
	font-size: 25px;
	line-height: 45px;
	position: relative;
	right: 10px;
	padding: 0px;
	color: #3f4457; 
	font-weight: lighter;
	float: right;
	text-align: center;
	font-family:levin, gadi;
}
 /* 'my picture' properties */
.pichead{
	margin-top: 40px;
	padding-top: 30px;
	text-align: center;
	line-height: 0.1em;	
	font-family:levin, gadi;
	font-size: 18px;
}

.column {
	display:inline-block;
	padding: 5px;
}
.column a {
	clear:both;
	float:left;
}

a img:hover{

	border-radius: 8px;
	border: 1px solid rgb(250, 196, 236, 0.5);
	border-radius: 8px;
	box-shadow: 2px 2px 15px rgb(243, 180, 226);
}

.pic {
	border-radius: 10px;
	border: 1px solid #ddd;
	padding: 5px;
	max-width:300px;
	border-radius: 8px;
}


/* 'my playlist properties */
.vid{
	padding: 10px;
}
.quote{
	padding: 0;
	font-family:levin, gadi;
	font-size: 20px; 
	color: #89888b; 
	text-shadow:1px 1px 1px #ffffff;

}

#quote1{
	position: relative;
	right: 90px;
	text-align: right;
}

#quote2{
	position: relative;
	right: 400px;
	bottom: 10px;
	text-align: right;
}
#quote3{
	position: relative;
	right: 150px;
	bottom: 10px;
	text-align: center;
}

.like{
	font-family:segoe print,caveat, purisa;
}

/* Q&A properties */
table{
	font-family:'Segoe UI';
}
table h1{
	font-family: segoe print,caveat,purisa;
	color: #3f4457;
}
table th{
	color: #3f4457;
}
table td{
	color: #3f4457;
}

/* contact propeties */
#contactContainer{
	position: relative;
	bottom: 20px;
}

.contactheadline{
	text-align: left;
	font-family:segoe print,caveat, purisa;
	margin: 0;
}
.contact{
	font-family:segoe script,dancing, purisa;
	width: 100%;
	padding: 12px 20px;
	margin-bottom: 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: left;
}
#send{
	font-family:segoe print,caveat, purisa;
	font-weight:bold;
	font-size: 16px;
	width: 30%;
	background-color: #2091dd;
	color: rgb(0, 0, 0);
	padding: 14px 20px;
	margin: 10px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}


